@{
    ViewData["Title"] = "Home";
    Layout = "_DashboardLayout";
}

<div class="container">
    <h1>Welcome to Inventory Management System</h1>
    <p>This is the home page of your inventory management application.</p>
</div>


